<%- include('../partials/dashboard/dashboard-header') %>
    <div style="width: 50%; margin: 20px auto;" class="text-center">

        <% if(msg){ %> <%- msg %>
                <% } %>
    </div>
    <%- include('../partials/dashboard/dashboard-footer') %>