<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <section class="quiz-top-bar">
        <h3>Soal : nama ujian</h3>
        <h3>Waktu : waktu pengerjaan</h3>
    </section>

    <section class="quiz-main">
        <div class="container mx-auto">
            <div class="body-quiz">
                <h2 class="soal">soal</h2>
                <ul class="pilihan">
                    <li class="jawaban">A : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, iure
                        iusto. Odit est reiciendis dolorem! At, aliquid, impedit ipsum amet aspernatur ipsam dolorem
                        exercitationem molestiae perspiciatis ipsa veniam voluptas officiis et ducimus hic commodi animi
                        excepturi assumenda sequi laudantium dolorum fugit laborum dolor. Quia magnam, porro a possimus
                        temporibus rerum?</li>
                    <li class="jawaban">C : Pilihan</li>
                    <li class="jawaban">B : Pilihan</li>
                    <li class="jawaban">D : Pilihan</li>
                    <li class="jawaban">E : Pilihan</li>
                </ul>
                <button class="btn btn-primary">Next</button>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>